

.container {
  width: 100%;

margin:0;
padding:0;
position: relative;
  display:flex;
height: 100vh;
  display: flex;
  min-width: 900px;


  overflow: hidden;

}

.container .image-wapper
.container .form-wapper {
  flex: 0 1 100%;

  max-width: 100%;
  padding: 50px 30px;
}

.container .image-wapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.container .image-wapper::before {
  content: "";

  display: flex;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.container .image-wapper h1 {
  align-self: flex-end;
  font-size: 60px;
  color: #fff;
  z-index: 1;
  margin: 0;
}
.container .form-wapper .form-header,
.container .form-wapper .form-body {
  margin-bottom: 50px;
}
.container .form-wapper .form-header h2 {
  font-size: 30px;
  margin: 0;
}
.container .form-wapper .form-header p {
  font-size: 14px;
  color: #bbb;
  margin: 20px 0 0;
}
.container .form-wapper .form-body .input-wrapper {
  margin-bottom: 20px;
  position: relative;
}
.container .form-wapper .form-body .input-wrapper > label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
.container .form-wapper .form-body .input-wrapper > input {
  display: block;
  width: 100%;
  height: 39px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #707070;

  background-color: transparent;
}
.container .form-wapper .form-body .input-wrapper .icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  line-height: 0.8;
  color: #6b6b6b;
  z-index: 2;
  cursor: pointer;
}
.container .form-wapper .form-body .input-wrapper.more-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.container .form-wapper .form-body .input-wrapper.more-action label {
  margin: 0;
  font-size: 12px;
}
.container .form-wapper .form-body .input-wrapper.more-action input {
  vertical-align: middle;
  margin: 0;
  margin-right: 10px;
  width: 17px;
  height: 17px;
}
.container .form-wapper .form-body button {
  width: 100%;
  padding: 10px 1rem;

  border: unset;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.container .form-wapper .form-footer p {
  font-size: 12px;
  margin: 0;
}
.container .form-wapper .form-footer p .icon i {

  vertical-align: middle;
}