<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <!--Profile Card 5-->
        <div class="col-md-4 mt-4">
            <div class="card profile-card-5">
                <div class="card-img-block">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                         alt="Card image cap">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Florence Garza</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>
            <p class="mt-3 w-100 float-left text-center"><strong>Card with Floting Picture</strong></p>
        </div>
    </div>
</div>
</body>
</html>