<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/e-commerce_card.css')}}">
    {% extends "base.html"%}
    <title>
        {% block title %}Catalogo Alveari Disponibili{% endblock %}
    </title>
</head>
<body>

{% block content %}
<!--For Page-->
<div class="page">

    <!--For Row containing all card-->
    <div class="row">

        {% for alveare in alveari_disponibili %}

        <!--Card 1-->
        <div class="col-md-4">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">

                <!--Card image-->
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../static/images/{{alveare.img_path}}"
                         alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>


                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">

                    <!--Card Title-->

                    <h4 class="card-title"><strong><a
                            href="{{url_for('ga.informazioni_alveare', alveare_id=alveare.id)}}">{{alveare.nome}}</a></strong>
                    </h4>

                    <!-- Card Description-->
                    <p class="card-text">Descrizione generica
                    </p>


                    <p class="price">Prezzo: {{alveare.prezzo}}</p>
                    <!--Card footer-->
                    <div class="card-footer">
                        <p>Affitta</p>

                        <form action="{{url_for('views.modifica_stato', alveare_id=alveare.id)}}">
                          <button type="submit">
                            Modifica Stato
                          </button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
</body>
</html>