<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/e-commerce_card.css')}}">
    {% extends "base.html"%}
    <title>
        {% block title %}
            Catalogo Prodotti
        {% endblock %}
    </title>
</head>
<body>

{% block content %}
<br><br><br>
<h1 style="text-align: center">I tuoi Prodotti</h1>
<!--For Page-->
<div class="page">
   <br>
    <div class="row">
<div class="product-container ">
        {% for prodotto in prodotti_in_vendita %}


    <div class="product-card shadow-lg">
  <img class="product-image" src="../static/images/honey_pot.jpg"
                         alt="">
  <h3 class="product-name"><strong >  {{prodotto.nome}}</strong>
                    </h3>
  <p class="product-description"> {{prodotto.descrizione}}
                    </p>


                    <p class="product-price">{{'%0.2f'|format(prodotto.prezzo|float)}}€</p>

  <button class="add-to-cart-button"><a style="text-decoration: none;color:white"href="{{url_for('views.info_articolo',prodotto_id=prodotto.id)}}"> Visualizza prodotto</a></button>
  {% if prodotto.quantita>0 %}
        <br>
                        <a href="{{url_for('gv.elimina_prodotto', id_prodotto=prodotto.id, id_apicoltore=current_user.id)}}">
                            <button class="add-to-cart-button">Elimina Prodotto</button>
                        </a>
           {% endif %}

    </div>


        {% endfor %}
</div></div>
</div>
<br>
{% endblock %}
</body>
</html>
    