<!DOCTYPE html>
<html lang="it">
    <head>
        {% extends "base.html"%}
        {% block title %}Catalogo{% endblock %}
    </head>
    <body>
        {% block content %}
        <h1>Catalogo Vendite :{{current_user.nome}}</h1>
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" />
        </div>
        <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Prezzo</th>
      <th scope="col">Elimina Articolo</th>
    </tr>
  </thead>
  <tbody>

  {% for products in prodotti_in_vendita %}
    <tr>
      <th scope="row"><img src="../static/images/{{products.img_path}}" class="rounded mx-auto d-block" width="150" height="200"></th>
      <td><h5>{{products.nome}}</h5>{{products.descrizione}}</td>
      <td>{{products.prezzo}}</td>
        <td><a href="{{url_for('gv.elimina_prodotto', id_prodotto=products.id, id_api=current_user.id)}}">Elimina</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
        {% endblock %}
    </body>
</html>