<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/e-commerce_card.css')}}">
</head>
<body>

{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BeeHave</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{url_for('views.home')}}">Home</a></li>
            <li><a href="{{url_for('views.mostra_alveari')}}">Adotta Alveare</a></li>
            <li><a href="{{url_for('views.mostra_prodotti')}}">Catalogo Prodotti</a></li>
            <li><a href="#">Chi siamo</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-user"></span>Area Utente</a>
                <ul class="dropdown-menu">

                    {% if not current_user.is_authenticated %}
                    <li><a href="{{url_for('views.login_page')}}">Login</a></li>
                    <li><a href="{{url_for('views.sigup_ap')}}">Registra Apicoltore</a></li>
                    <li><a href="{{url_for('views.sigup_cl')}}">Registra Cliente</a></li>

                    {% else %}
                    <li><a href="{{url_for('views.area_personale')}}">Area Personale</a></li>

                    {% if session['isApicoltore'] %}
                    <li><a href="{{url_for('views.inserimento_prodotto_page')}}">Inserisci prodotto</a></li>
                    <li><a href="{{url_for('views.inserimento_alveare_page')}}">Inserisci alveare</a></li>
                    <li><a href="{{url_for('gv.mostra_articoli_inVendita', apicoltore_id=current_user.id)}}">Visualizza
                        prodotti in vendita</a>
                    <li>
                        {% endif %}
                    <li><a href="{{url_for('gu.logout')}}">Logout</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--For Page-->
<div class="page">

    <!--For Row containing all card-->
    <div class="row">

        {% for alveare in alveari_disponibili %}

        <!--Card 1-->
        <div class="col-md-4">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">

                <!--Card image-->
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="../static/images/{{alveare.img_path}}"
                         alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>


                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">

                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="#">{{alveare.nome}}</a></strong></h4>

                    <!-- Card Description-->
                    <p class="card-text">Descrizione generica
                    </p>


                    <p class="price">Prezzo: {{alveare.prezzo}}</p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <p>Affitta</p>

                        <form action="{{url_for('views.modifica_stato', alveare_id=alveare.id)}}">
                          <button type="submit">
                            Modifica Stato
                          </button>
                        </form>

                    </div>


                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
</body>
</html>