<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/richiedi_assist.css')}}">
    {% extends "base.html" %}

    <title>
        {% block title %}Creazione Area Assistenza{% endblock %}
    </title>
</head>
<body >
{% block content %}
<br><br>
 <h1 style="text-align: center; font-weight: bold">CREA LA TUA AREA <span style="color:#faa500">ASSISTENZA</span></h1>
<br>
<div class="product-container" style="margin-left:5%">
    <br>
<div class="product-card shadow-lg ">
    <div class="row">

        <div class="col">
        <form class="well form-horizontal " action="/crea_area_assistenza" method="POST" id="contact_form">
            <br>
            <input type="hidden" value='{{id_apicoltore}}' name="id_apicoltore">
            <div class="form-group">
                <br>
                <label class="col-md-4 control-label" for="descrizione">Descrizione</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group" style="width: 270%;height: 250%">
                        <textarea name="descrizione" id="descrizione" class="form-control" required
                                  placeholder="Inserisci la descrizione della tua area assistenza"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-outline mb-4">
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                        <p style="color:red">{{ messages[0] }}</p>
                    {% endif %}
                {% endwith %}
            </div>

        </div>
            <div class="form-group col" >
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4n" style="position:relative;top:20%;color:white;text-align: center;vertical-align:middle  " ><br>
                    <button  type="button" class="annullabtn btn btn-secondary btn-md" style="padding: 9px 20px;border: none;
  border-radius: 5px;"><a style="text-decoration: none; color:white "
                                                                href="{{url_for('views.area_personale')}}">Annulla<span
                            class="glyphicon glyphicon-remove"></span></a>
                    </button>
                    <button type="submit" class="add-to-cart-button">Crea<span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>


    </form>
    </div>
</div>
</div>
<br><br>

{% endblock %}

</body>
</html>