<!DOCTYPE html>
<html lang="it">
    <head>
        {% extends "base.html"%}
        {% block title %}Creazione Area Assistenza{% endblock %}
    </head>
    <body>
        {% block content %}
        <form action="/crea_area_assistenza" method="post">
            <label for="descrizione">Descrizione</label>
            <textarea name="descrizione"  required placeholder="Inserisci la descrizione"/>

            <input type="submit" value="Accedi"/> <input type="reset" value="Cancella">
        </form>
        {% endblock %}
    </body>
</html>