<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    {% extends "base.html"%}
    {% block title %}Home{% endblock %}
</head>
<body>
{% block content %}
<style>
    .carousel {
        width: 70%;
        height: 60%;
        position: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        text-align: center;
    }


.button{

}
</style>
<br>
<header>

    <div class="container">

            <section class="showcase">
                <h1>Come Proteggere le Api?</h1>
                <p>Le api sono in pericolo estinzione? C'è un modo per proteggere le api concretamente? Le api sono gli unici impollinatori?</p>
                <p>Queste ed altre domande sono state affrontate dai nostri esperti. Le api sono effettivamente l'anello fondamentale della nostra catena alimentare.</p>
                <form action="#qui" >
                <button type="submit">Leggi l'articolo</button>
                </form>
            </section>
        </div>

    <div class="video-container">
        <video src="../static/images/video1.mp4" autoplay loop muted></video>
    </div>

</header>
<br><br><br><br><br>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="../static/images/home2.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../static/images/home1.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/images/home3.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br><br><br>
<br>
<section class="dishes">
    <h2>Community BeeHave</h2>
    <br>
    <div class="dishes-grid">
        <img class="dishes-item dishes-item-1__big"
             src="https://images.unsplash.com/photo-1593844848769-c725b9f47908?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGFwaWN1bHR1cmF8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60"
             alt="Video of three dishes on a table"/>

        <img class="dishes-item dishes-item-2"
             src="https://images.unsplash.com/photo-1619522893151-bb5138b60292?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YXBpY3VsdHVyYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60"
             alt="Dish of vegetables"/>
        <img class="dishes-item dishes-item-3"
             src="https://images.unsplash.com/photo-1620032599268-c822dd1c3076?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGFwaWN1bHR1cmF8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60"
             alt="Dish of vegetables"/>

    </div>
  </section>
<br><br><br><br><br><a name="qui"></a><br><br><br><br><br><br><br><br>

<section class="hero">
    <div class="info">
        <h1>Un preziosissimo lavoro</h1>
        <p>Il ruolo che rivestono le api nel nostro ecosistema è centrale, soprattutto in virtù del loro inestimabile
            lavoro di impollinazione. Volando di fiore in fiore alla ricerca del nettare, api e altri insetti
            impollinatori diventano dei veri e propri agenti di biodiversità. Le piante che si affidano
            all’impollinazione entomofila (ovvero resa possibile dagli insetti) sono tantissime. Le stime parlando di
            quasi il 90% delle piante selvatiche e il 75% delle colture a scopo alimentare. Non è quindi un’esagerazione
            dire che, se non ci fossero più le api, non potremmo più mangiare la maggior parte del cibo che troviamo
            tutti i giorni sulla nostra tavola. Anche la produzione di carne e dei prodotti derivanti dal latte
            subirebbe un calo significativo. Come mai? In realtà la risposta è semplicissima. Una gran parte delle
            piante foraggere, ovvero utilizzate per nutrire le bestie da allevamento, sono impollinate dalle api.</p>

    </div>
    <img class="hero-image" src="../static/images/img3.jpeg" alt="Dish with spaghetti and vegetable"/>
</section>
<br><br><br><br><br><br><br><br>


<section class="hero">

    <img class="hero-image" src="../static/images/img2.jpeg" alt="Dish with spaghetti and vegetable"/>
    <div class="info">
        <h1>Le cause che minacciano la sopravvivenza delle api</h1>
        <p> Ma quali sono le cause di questo declino che sembra essere inarrestabile? In realtà sono molte, ma possiamo
            comunque individuare le principali. Malattie e parassiti, come la Varroa Destructor, cambiamenti climatici,
            impoverimento degli habitat naturali, pratiche di agricoltura intensiva, uso massiccio di pesticidi,
            erbicidi e fungicidi. Ognuno di questi fenomeni segna giorno dopo giorno il lento declino della popolazione
            delle api, che si trovano ormai in una situazione di alto pericolo.</p>

    </div>
</section>
<br><br><br><br><br><br><br><br>
<section class="hero">
    <div class="info">
      <h1>Cosa fare per preservare le api dal rischio di estinzione?</h1>
      <p>La situazione non è quindi delle più rosee, anzi. I problemi che incombono sulle api e sugli impollinatori in generale sono enormi e le conseguenze gravissime, e non solo per noi. Cosa possiamo fare concretamente per invertire questa tendenza e preservare le api e gli impollinatori dal rischio di estinzione? Sicuramente dovremmo pretendere un intervento da parte dei nostri governi e delle istituzioni, ma possiamo comunque compiere delle piccole azioni per dare il nostro contributo concreto per la salvaguardia di questo preziosissimo insetto.</p>

    </div>
    <img class="hero-image" src="../static/images/img6.jpeg" alt="Dish with spaghetti and vegetable" />
  </section>
<br><br><br><br><br><br><br><br>


<section class="hero">

    <img class="hero-image" src="../static/images/img8.jpeg" alt="Dish with spaghetti and vegetable" />
    <div class="info">
      <h1>Adotta un alveare e proteggi le sue api</h1>
      <p> Una delle iniziative più alla portata di tutti è sicuramente l’adozione di un alveare. Ma in cosa consiste? Grazie alla tecnologia BeeHave, potrai scegliere un alveare monitorato a distanza e adottarlo per un anno interno. In questo modo potrai seguire direttamente dal tuo cellulare lo sviluppo e la crescita delle api e seguirle passo passo durante la stagione produttiva, quando la famiglia cresce al massimo delle sue possibilità e arriva il momento di estrarre il loro prezioso miele. Non solo, potrai anche vedere come si preparano all’inverno e come l’apicoltore se ne prende cura nel caso non avessero abbastanza nutrimento per sopravvivere fino alla primavera. Proprio per poterti avvicinare ancora di più alla realtà dell’alveare e dell’apicoltura da te scelti, a fine stagione apistica riceverai a casa tua il miele prodotto dalle “tue” api. Potrai sceglierlo in base alle tipologie che vengono prodotte in ciascun luogo.</p>
    </div>
  </section>

<br><br><br><br><br><br><br><br>


{% endblock %}


</body>
</html>