<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    {% extends "base.html"%}
    {% block title %}Home{% endblock %}
</head>
<body>
{% block content %}
<style>
    .carousel {
        width: 70%;
        height: 60%;
        position: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        text-align: center;
    }


.button{

}
</style>
<br>
<header>

    <div class="container">

            <section class="showcase">
                <h1>Come Proteggere le Api?</h1>
                <p>Le api sono in pericolo estinzione? C'è un modo per proteggere le api concretamente? Le api sono gli unici impollinatori?</p>
                <p>Queste ed altre domande sono state affrontate dai nostri esperti. Le api sono effettivamente l'anello fondamentale della nostra catena alimentare.</p>
                <form action="#qui" >
                <button type="submit">Leggi l'articolo</button>
                </form>
            </section>
        </div>

    <div class="video-container">
        <video src="../static/images/video1.mp4" autoplay loop muted></video>
    </div>

</header>
<br><br><br><br><br>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="../static/images/home2.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../static/images/home1.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/images/home3.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br><br><br>
<br>
<section class="dishes">
    <h2>Community BeeHave</h2>
    <br>
    <div class="dishes-grid">
        <img class="dishes-item dishes-item-1__big"
             src="https://images.unsplash.com/photo-1593844848769-c725b9f47908?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGFwaWN1bHR1cmF8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60"
             alt="Video of three dishes on a table"/>

        <img class="dishes-item dishes-item-2"
             src="https://images.unsplash.com/photo-1619522893151-bb5138b60292?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YXBpY3VsdHVyYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60"
             alt="Dish of vegetables"/>
        <img class="dishes-item dishes-item-3"
             src="https://images.unsplash.com/photo-1620032599268-c822dd1c3076?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGFwaWN1bHR1cmF8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60"
             alt="Dish of vegetables"/>

    </div>
  </section>
<div class="projcard-container">

	<div class="projcard projcard-orange">
		<div class="projcard-innerbox">
			<img class="projcard-img" src="../static/images/img3.jpeg" />
			<div class="projcard-textbox">
				<div class="projcard-title">Un preziosissimo lavoro</div>
				<div class="projcard-bar"></div>
				<div class="projcard-description">Il ruolo che rivestono le api nel nostro ecosistema
          è centrale, soprattutto in virtù del loro inestimabile lavoro
          di impollinazione. Volando di fiore in fiore alla ricerca del nettare,
          api e altri insetti impollinatori diventano dei veri e propri agenti di
          biodiversità. Le piante che si affidano all’impollinazione entomofila
          (ovvero resa possibile dagli insetti) sono tantissime. Le stime parlando
          di quasi il 90% delle piante selvatiche e il 75% delle colture a scopo alimentare.
          Non è quindi un’esagerazione dire che, se non ci fossero più le api, non potremmo più
          mangiare la maggior parte del cibo che troviamo tutti i giorni sulla nostra tavola. Anche la produzione
          i carne e dei prodotti derivanti dal latte subirebbe un calo significativo. Come mai? In realtà la risposta
          è semplicissima. Una gran parte delle piante foraggere, ovvero utilizzate per nutrire le bestie da allevamento,
          sono impollinate dalle api.</div>
			</div>
		</div>
	</div>

    	<div class="projcard projcard-yellow">
		<div class="projcard-innerbox">
			<img class="projcard-img" src="../static/images/img2.jpeg" />
			<div class="projcard-textbox">
				<div class="projcard-title">Le cause che minacciano la sopravvivenza delle api</div>
				<div class="projcard-bar"></div>
				<div class="projcard-description">Ma quali sono le cause di questo declino che sembra essere inarrestabile? In realtà sono molte,
          ma possiamo comunque individuare le principali. Malattie e parassiti, come la Varroa Destructor, cambiamenti climatici,
          impoverimento degli habitat naturali, pratiche di agricoltura intensiva, uso massiccio di pesticidi, erbicidi e fungicidi.
          Ognuno di questi fenomeni segna giorno dopo giorno il lento declino della popolazione delle api, che si trovano ormai
          in una situazione di alto pericolo.</div>
			</div>
		</div>
	</div>

</div>

    <img class="hero-image" src="../static/images/img8.jpeg" alt="Dish with spaghetti and vegetable" />
    <div class="info">
      <h1>Adotta un alveare e proteggi le sue api</h1>
      <p> Una delle iniziative più alla portata di tutti è sicuramente l’adozione di un alveare. Ma in cosa consiste? Grazie alla tecnologia BeeHave, potrai scegliere un alveare monitorato a distanza e adottarlo per un anno interno. In questo modo potrai seguire direttamente dal tuo cellulare lo sviluppo e la crescita delle api e seguirle passo passo durante la stagione produttiva, quando la famiglia cresce al massimo delle sue possibilità e arriva il momento di estrarre il loro prezioso miele. Non solo, potrai anche vedere come si preparano all’inverno e come l’apicoltore se ne prende cura nel caso non avessero abbastanza nutrimento per sopravvivere fino alla primavera. Proprio per poterti avvicinare ancora di più alla realtà dell’alveare e dell’apicoltura da te scelti, a fine stagione apistica riceverai a casa tua il miele prodotto dalle “tue” api. Potrai sceglierlo in base alle tipologie che vengono prodotte in ciascun luogo.</p>
    </div>
  </section>

<br><br><br><br><br><br><br><br>

<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">My Cards Light</div>

<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
    </div>
    </div>
</section>

<br><br>
<div class="d-flex justify-content-center">
    <h1>Hai bisogno di aiuto?</h1>
</div>
<div class="d-flex justify-content-center">
    <h3>Contatta qualcuno degli esperti sulla piattaforma</h3>
</div>
<div class="row p-5">
    <div class="col-xl-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img
                                src="../static/images/expert.png"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">John Doe</p>
                            <p class="text-muted mb-0">john.doe@gmail.com</p>
                        </div>
                    </div>
                    <span class="badge rounded-pill badge-success">Active</span>
                </div>
            </div>
            <div
                    class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
            >
                <a
                        class="btn btn-link m-0 text-reset"
                        href="#"
                        role="button"
                        data-ripple-color="primary"
                >Messaggia<i class="fas fa-envelope ms-2"></i
                ></a>

            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img
                                src="../static/images/expert.png"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Alex Ray</p>
                            <p class="text-muted mb-0">alex.ray@gmail.com</p>
                        </div>
                    </div>
                    <span class="badge rounded-pill badge-primary"
                    >Onboarding</span
                    >
                </div>
            </div>
            <div
                    class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
            >
                <a
                        class="btn btn-link m-0 text-reset"
                        href="#"
                        role="button"
                        data-ripple-color="primary"
                >Messaggia<i class="fas fa-envelope ms-2"></i
                ></a>

            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img
                                src="../static/images/expert.png" alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Kate Hunington</p>
                            <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                        </div>
                    </div>
                    <span class="badge rounded-pill badge-warning">Awaiting</span>
                </div>
            </div>
            <div
                    class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
            >
                <a
                        class="btn btn-link m-0 text-reset"
                        href="#"
                        role="button"
                        data-ripple-color="primary"
                >Messaggia<i class="fas fa-envelope ms-2"></i
                ></a>

            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img
                                src="../static/images/expert.png"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Michael Bale</p>
                            <p class="text-muted mb-0">michael.bale@gmail.com</p>
                        </div>
                    </div>
                    <span class="badge rounded-pill badge-danger">Removed</span>
                </div>
            </div>
            <div
                    class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
            >
                <a
                        class="btn btn-link m-0 text-reset"
                        href="#"
                        role="button"
                        data-ripple-color="primary"
                >Messaggia<i class="fas fa-envelope ms-2"></i
                ></a>

            </div>
        </div>
    </div>
</div>

<center>
    <a href="{{url_for('views.mostra_lista_assistenti')}}">
        <button type="button" class="btn btn-warning w-25">Mostra
            di Piú
        </button>
    </a>
</center>
<br><br><br><br><br>
{% endblock %}


</body>
</html>