{%extends "base.html" %}
{%block title%}Inserimento Prodotto{%endblock%}

{% block content%}
        <form action="/inserimento_prodotto" method="post">
            <h3 align="center">Inserimento prodotto</h3>
            <label for="nome">Inserire nome: </label>
                <input
                        id="nome"
                        name="nome"
                        type="text"
                        required=true
                        placeholder="Inserisci nome"
                />
            <br>
            <br>
            <label for="descrizione">Inserire descrizione: </label>
                <input
                        id="descrizione"
                        name="descrizione"
                        type="text" required=true
                        placeholder="Inserisci descrizione"
                />
            <br>
            <br>
            <label for="Localita">Selezionare provincia: </label>
            <select id="localita" name="localita">
                <option value="Agrigento">Agrigento</option>
                <option value="Alessandria">Alessandria</option>
                <option value="Ancona">Ancona</option>
                <option value="Aosta">Aosta</option>
                <option value="Arezzo">Arezzo</option>
                <option value="Ascoli Piceno">Ascoli Piceno</option>
                <option value="Asti">Asti</option>
                <option value="Avellino">Avellino</option>
                <option value="Bari">Bari</option>
                <option value="Barletta-Andria-Trani">Barletta-Andria-Trani</option>
                <option value="Belluno">Belluno</option>
                <option value="Benevento">Benevento</option>
                <option value="Bergamo">Bergamo</option>
                <option value="Biella">Biella</option>
                <option value="Bologna">Bologna</option>
                <option value="Bolzano">Bolzano</option>
                <option value="”bs”">Brescia</option>
                <option value="Brescia">Brindisi</option>
                <option value="Cagliari">Cagliari</option>
                <option value="Caltanissetta">Caltanissetta</option>
                <option value="Campobasso">Campobasso</option>
                <option value="Carbonia-Iglesias">Carbonia-Iglesias</option>
                <option value="Caserta">Caserta</option>
                <option value="Catania">Catania</option>
                <option value="Catanzaro">Catanzaro</option>
                <option value="Chieti">Chieti</option>
                <option value="Como">Como</option>
                <option value="Cosenza">Cosenza</option>
                <option value="Cremona">Cremona</option>
                <option value="Crotone">Crotone</option>
                <option value="Cuneo">Cuneo</option>
                <option value="Enna">Enna</option>
                <option value="Fermo">Fermo</option>
                <option value="Ferrara">Ferrara</option>
                <option value="Firenze">Firenze</option>
                <option value="Foggia">Foggia</option>
                <option value="Forli’-Cesena">Forli’-Cesena</option>
                <option value="Frosinone">Frosinone</option>
                <option value="Genova">Genova</option>
                <option value="Gorizia">Gorizia</option>
                <option value="Grosseto">Grosseto</option>
                <option value="Imperia">Imperia</option>
                <option value="Isernia">Isernia</option>
                <option value="La Spezia">La Spezia</option>
                <option value="L’aquila">L’aquila</option>
                <option value="Latina">Latina</option>
                <option value="Lecce">Lecce</option>
                <option value="Lecco">Lecco</option>
                <option value="Livorno">Livorno</option>
                <option value="Lodi">Lodi</option>
                <option value="Lucca">Lucca</option>
                <option value="Macerata">Macerata</option>
                <option value="Mantova">Mantova</option>
                <option value="Massa-Carrara">Massa-Carrara</option>
                <option value="Matera">Matera</option>
                <option value="Medio Campidano">Medio Campidano</option>
                <option value="Messina">Messina</option>
                <option value="Milano">Milano</option>
                <option value="Modena">Modena</option>
                <option value="Monza">Monza</option>
                <option value="Napoli">Napoli</option>
                <option value="Novara">Novara</option>
                <option value="Nuoro">Nuoro</option>
                <option value="Ogliastra">Ogliastra</option>
                <option value="Olbia-Tempio">Olbia-Tempio</option>
                <option value="Oristano">Oristano</option>
                <option value="Padova">Padova</option>
                <option value="Palermo">Palermo</option>
                <option value="Parma">Parma</option>
                <option value="Pavia">Pavia</option>
                <option value="Perugia">Perugia</option>
                <option value="Pesaro e Urbino">Pesaro e Urbino</option>
                <option value="Pescara">Pescara</option>
                <option value="Piacenza">Piacenza</option>
                <option value="Pisa">Pisa</option>
                <option value="Pistoia">Pistoia</option>
                <option value="Pordenone">Pordenone</option>
                <option value="Potenza">Potenza</option>
                <option value="Prato">Prato</option>
                <option value="Ragusa">Ragusa</option>
                <option value="Ravenna">Ravenna</option>
                <option value="Reggio Calabria">Reggio Calabria</option>
                <option value="Reggio Emilia">Reggio Emilia</option>
                <option value="Rieti">Rieti</option>
                <option value="Rimini">Rimini</option>
                <option value="Roma">Roma</option>
                <option value="Rovigo">Rovigo</option>
                <option value="Salerno">Salerno</option>
                <option value="Sassari">Sassari</option>
                <option value="Savona">Savona</option>
                <option value="Siena">Siena</option>
                <option value="Siracusa">Siracusa</option>
                <option value="Sondrio">Sondrio</option>
                <option value="Taranto">Taranto</option>
                <option value="Teramo">Teramo</option>
                <option value="Terni">Terni</option>
                <option value="Torino">Torino</option>
                <option value="Trapani">Trapani</option>
                <option value="Trento">Trento</option>
                <option value="Treviso">Treviso</option>
                <option value="Trieste">Trieste</option>
                <option value="Udine">Udine</option>
                <option value="Varese">Varese</option>
                <option value="Venezia">Venezia</option>
                <option value="Vercelli">Vercelli</option>
                <option value="Verona">Verona</option>
                <option value="Verona">Verona</option>
                <option value="Vicenza">Vicenza</option>
                <option value="Viterbo">Viterbo</option>
            </select>
            <br>
            <br>
            <label for="peso">Inserire peso in grammi: </label> <br>
                <input type="radio" id="peso" name="peso" value="250">
                <label for="peso">250</label><br>
                <input type="radio" id="peso2" name="peso" value="500">
                <label for="peso">500</label><br>
                <input type="radio" id="peso3" name="peso" value="750">
                <label for="peso">750</label><br>
                <input type="radio" id="peso4" name="peso" value="1000">
                <label for="peso">1000</label>
            <br>

            <br>
            <br>
            <label for="tipologia">Inserire tipologia:</label>
                <input
                        id="tipologia"
                        name="tipologia"
                        type="text"
                        required=true
                        placeholder="Inserisci tipologia"
                />
            <br>
            <br>
            <label for="prezzo">Inserire prezzo: </label>
                <input
                        id="prezzo"
                        name="prezzo"
                        type="number"
                        required=true
                        placeholder="Inserisci prezzo"
                />
            <br>
            <br>
            <label for="quantita" required=true>Inserire quantit&#224:</label>
            <input
                        id="quantita"
                        name="quantita"
                        type="number" required=true
                        placeholder="Inserisci quantit&#224"
                />
            <br>
            <br>
            <input type="submit" value="ConfermaInserimento"/> <input type="reset" value="Cancella">
        </form>

    {% endblock %}
    </body>
</html>