
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        {%extends "base.html" %}
    {%block title%}Inserimento Prodotto{%endblock%}
</head>
<body>
{% block content%}
<section class="background-radial-gradient overflow-hidden">
  <style>

  .selector-for-some-widget {
  box-sizing: content-box;
  }
  .background-radial-gradient {
    background-image: url("https://images.unsplash.com/photo-1613548058193-1cd24c1bebcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size:cover;
  }
  .bg-glass {

    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(600%) blur(25px);
  }

  input[type=button], input[type=submit], input[type=reset], input[type=file] {
  background-color: orange;
  opacity: 70%;
  border: none;
  border-radius: 10px 10px 10px 10px;
  color: black;
  padding: 7px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-high mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-3 fw-bold ls-tight" style="color: black">
                    Inserisci qui <br />
             <span style="color: white">il tuo prodotto!</span>
                </h1>
            </div>
<form enctype="multipart/form-data" action="/inserimento_prodotto" method="post">
    <h3>Inserimento prodotto</h3>
    <label for="nome">Inserire nome: </label>
    <input
            id="nome"
            name="nome"
            type="text"
            required=true
            placeholder="Inserisci nome"
    />
    <br>
    <br>
    <label for="descrizione">Inserire descrizione: </label>
    <input
            id="descrizione"
            name="descrizione"
            type="text" required=true
            placeholder="Inserisci descrizione"
    />
    <br>
    <br>
    <label for="Localita">Selezionare provincia: </label>
    <select id="localita" name="localita">
        <option value="Agrigento">Agrigento</option>
        <option value="Alessandria">Alessandria</option>
        <option value="Ancona">Ancona</option>
        <option value="Aosta">Aosta</option>
        <option value="Arezzo">Arezzo</option>
        <option value="Ascoli Piceno">Ascoli Piceno</option>
        <option value="Asti">Asti</option>
        <option value="Avellino">Avellino</option>
        <option value="Bari">Bari</option>
        <option value="Barletta-Andria-Trani">Barletta-Andria-Trani</option>
        <option value="Belluno">Belluno</option>
        <option value="Benevento">Benevento</option>
        <option value="Bergamo">Bergamo</option>
        <option value="Biella">Biella</option>
        <option value="Bologna">Bologna</option>
        <option value="Bolzano">Bolzano</option>
        <option value="”bs”">Brescia</option>
        <option value="Brescia">Brindisi</option>
        <option value="Cagliari">Cagliari</option>
        <option value="Caltanissetta">Caltanissetta</option>
        <option value="Campobasso">Campobasso</option>
        <option value="Carbonia-Iglesias">Carbonia-Iglesias</option>
        <option value="Caserta">Caserta</option>
        <option value="Catania">Catania</option>
        <option value="Catanzaro">Catanzaro</option>
        <option value="Chieti">Chieti</option>
        <option value="Como">Como</option>
        <option value="Cosenza">Cosenza</option>
        <option value="Cremona">Cremona</option>
        <option value="Crotone">Crotone</option>
        <option value="Cuneo">Cuneo</option>
        <option value="Enna">Enna</option>
        <option value="Fermo">Fermo</option>
        <option value="Ferrara">Ferrara</option>
        <option value="Firenze">Firenze</option>
        <option value="Foggia">Foggia</option>
        <option value="Forli’-Cesena">Forli’-Cesena</option>
        <option value="Frosinone">Frosinone</option>
        <option value="Genova">Genova</option>
        <option value="Gorizia">Gorizia</option>
        <option value="Grosseto">Grosseto</option>
        <option value="Imperia">Imperia</option>
        <option value="Isernia">Isernia</option>
        <option value="La Spezia">La Spezia</option>
        <option value="L’aquila">L’aquila</option>
        <option value="Latina">Latina</option>
        <option value="Lecce">Lecce</option>
        <option value="Lecco">Lecco</option>
        <option value="Livorno">Livorno</option>
        <option value="Lodi">Lodi</option>
        <option value="Lucca">Lucca</option>
        <option value="Macerata">Macerata</option>
        <option value="Mantova">Mantova</option>
        <option value="Massa-Carrara">Massa-Carrara</option>
        <option value="Matera">Matera</option>
        <option value="Medio Campidano">Medio Campidano</option>
        <option value="Messina">Messina</option>
        <option value="Milano">Milano</option>
        <option value="Modena">Modena</option>
        <option value="Monza">Monza</option>
        <option value="Napoli">Napoli</option>
        <option value="Novara">Novara</option>
        <option value="Nuoro">Nuoro</option>
        <option value="Ogliastra">Ogliastra</option>
        <option value="Olbia-Tempio">Olbia-Tempio</option>
        <option value="Oristano">Oristano</option>
        <option value="Padova">Padova</option>
        <option value="Palermo">Palermo</option>
        <option value="Parma">Parma</option>
        <option value="Pavia">Pavia</option>
        <option value="Perugia">Perugia</option>
        <option value="Pesaro e Urbino">Pesaro e Urbino</option>
        <option value="Pescara">Pescara</option>
        <option value="Piacenza">Piacenza</option>
        <option value="Pisa">Pisa</option>
        <option value="Pistoia">Pistoia</option>
        <option value="Pordenone">Pordenone</option>
        <option value="Potenza">Potenza</option>
        <option value="Prato">Prato</option>
        <option value="Ragusa">Ragusa</option>
        <option value="Ravenna">Ravenna</option>
        <option value="Reggio Calabria">Reggio Calabria</option>
        <option value="Reggio Emilia">Reggio Emilia</option>
        <option value="Rieti">Rieti</option>
        <option value="Rimini">Rimini</option>
        <option value="Roma">Roma</option>
        <option value="Rovigo">Rovigo</option>
        <option value="Salerno">Salerno</option>
        <option value="Sassari">Sassari</option>
        <option value="Savona">Savona</option>
        <option value="Siena">Siena</option>
        <option value="Siracusa">Siracusa</option>
        <option value="Sondrio">Sondrio</option>
        <option value="Taranto">Taranto</option>
        <option value="Teramo">Teramo</option>
        <option value="Terni">Terni</option>
        <option value="Torino">Torino</option>
        <option value="Trapani">Trapani</option>
        <option value="Trento">Trento</option>
        <option value="Treviso">Treviso</option>
        <option value="Trieste">Trieste</option>
        <option value="Udine">Udine</option>
        <option value="Varese">Varese</option>
        <option value="Venezia">Venezia</option>
        <option value="Vercelli">Vercelli</option>
        <option value="Verona">Verona</option>
        <option value="Verona">Verona</option>
        <option value="Vicenza">Vicenza</option>
        <option value="Viterbo">Viterbo</option>
    </select>
    <br>
    <br>
    <label for="peso">Inserire peso in grammi: </label> <br>
    <input type="radio" id="peso" name="peso" value="250">
    <label for="peso">250</label><br>
    <input type="radio" id="peso2" name="peso" value="500">
    <label for="peso">500</label><br>
    <input type="radio" id="peso3" name="peso" value="750">
    <label for="peso">750</label><br>
    <input type="radio" id="peso4" name="peso" value="1000">
    <label for="peso">1000</label>
    <br>
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form action="/inserimento_prodotto" enctype="multipart/form-data" method="post">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="nome">Inserire nome: </label>
                                                <input
                                                        id="nome"
                                                        name="nome"
                                                        type="text"
                                                        required=true
                                                        placeholder="Inserisci nome"
                                                />
                                    </div>
                                </div>
                                 <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                            <label for="descrizione">Inserire descrizione: </label>
                                                    <input
                                                            id="descrizione"
                                                            name="descrizione"
                                                            type="text" required=true
                                                            placeholder="Inserisci descrizione"
                                                    />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="Localita">Selezionare provincia: </label>
                                            <select id="localita" name="localita">
                                                <option value="Agrigento">Agrigento</option>
                                                <option value="Alessandria">Alessandria</option>
                                                <option value="Ancona">Ancona</option>
                                                <option value="Aosta">Aosta</option>
                                                <option value="Arezzo">Arezzo</option>
                                                <option value="Ascoli Piceno">Ascoli Piceno</option>
                                                <option value="Asti">Asti</option>
                                                <option value="Avellino">Avellino</option>
                                                <option value="Bari">Bari</option>
                                                <option value="Barletta-Andria-Trani">Barletta-Andria-Trani</option>
                                                <option value="Belluno">Belluno</option>
                                                <option value="Benevento">Benevento</option>
                                                <option value="Bergamo">Bergamo</option>
                                                <option value="Biella">Biella</option>
                                                <option value="Bologna">Bologna</option>
                                                <option value="Bolzano">Bolzano</option>
                                                <option value="”bs”">Brescia</option>
                                                <option value="Brescia">Brindisi</option>
                                                <option value="Cagliari">Cagliari</option>
                                                <option value="Caltanissetta">Caltanissetta</option>
                                                <option value="Campobasso">Campobasso</option>
                                                <option value="Carbonia-Iglesias">Carbonia-Iglesias</option>
                                                <option value="Caserta">Caserta</option>
                                                <option value="Catania">Catania</option>
                                                <option value="Catanzaro">Catanzaro</option>
                                                <option value="Chieti">Chieti</option>
                                                <option value="Como">Como</option>
                                                <option value="Cosenza">Cosenza</option>
                                                <option value="Cremona">Cremona</option>
                                                <option value="Crotone">Crotone</option>
                                                <option value="Cuneo">Cuneo</option>
                                                <option value="Enna">Enna</option>
                                                <option value="Fermo">Fermo</option>
                                                <option value="Ferrara">Ferrara</option>
                                                <option value="Firenze">Firenze</option>
                                                <option value="Foggia">Foggia</option>
                                                <option value="Forli’-Cesena">Forli’-Cesena</option>
                                                <option value="Frosinone">Frosinone</option>
                                                <option value="Genova">Genova</option>
                                                <option value="Gorizia">Gorizia</option>
                                                <option value="Grosseto">Grosseto</option>
                                                <option value="Imperia">Imperia</option>
                                                <option value="Isernia">Isernia</option>
                                                <option value="La Spezia">La Spezia</option>
                                                <option value="L’aquila">L’aquila</option>
                                                <option value="Latina">Latina</option>
                                                <option value="Lecce">Lecce</option>
                                                <option value="Lecco">Lecco</option>
                                                <option value="Livorno">Livorno</option>
                                                <option value="Lodi">Lodi</option>
                                                <option value="Lucca">Lucca</option>
                                                <option value="Macerata">Macerata</option>
                                                <option value="Mantova">Mantova</option>
                                                <option value="Massa-Carrara">Massa-Carrara</option>
                                                <option value="Matera">Matera</option>
                                                <option value="Medio Campidano">Medio Campidano</option>
                                                <option value="Messina">Messina</option>
                                                <option value="Milano">Milano</option>
                                                <option value="Modena">Modena</option>
                                                <option value="Monza">Monza</option>
                                                <option value="Napoli">Napoli</option>
                                                <option value="Novara">Novara</option>
                                                <option value="Nuoro">Nuoro</option>
                                                <option value="Ogliastra">Ogliastra</option>
                                                <option value="Olbia-Tempio">Olbia-Tempio</option>
                                                <option value="Oristano">Oristano</option>
                                                <option value="Padova">Padova</option>
                                                <option value="Palermo">Palermo</option>
                                                <option value="Parma">Parma</option>
                                                <option value="Pavia">Pavia</option>
                                                <option value="Perugia">Perugia</option>
                                                <option value="Pesaro e Urbino">Pesaro e Urbino</option>
                                                <option value="Pescara">Pescara</option>
                                                <option value="Piacenza">Piacenza</option>
                                                <option value="Pisa">Pisa</option>
                                                <option value="Pistoia">Pistoia</option>
                                                <option value="Pordenone">Pordenone</option>
                                                <option value="Potenza">Potenza</option>
                                                <option value="Prato">Prato</option>
                                                <option value="Ragusa">Ragusa</option>
                                                <option value="Ravenna">Ravenna</option>
                                                <option value="Reggio Calabria">Reggio Calabria</option>
                                                <option value="Reggio Emilia">Reggio Emilia</option>
                                                <option value="Rieti">Rieti</option>
                                                <option value="Rimini">Rimini</option>
                                                <option value="Roma">Roma</option>
                                                <option value="Rovigo">Rovigo</option>
                                                <option value="Salerno">Salerno</option>
                                                <option value="Sassari">Sassari</option>
                                                <option value="Savona">Savona</option>
                                                <option value="Siena">Siena</option>
                                                <option value="Siracusa">Siracusa</option>
                                                <option value="Sondrio">Sondrio</option>
                                                <option value="Taranto">Taranto</option>
                                                <option value="Teramo">Teramo</option>
                                                <option value="Terni">Terni</option>
                                                <option value="Torino">Torino</option>
                                                <option value="Trapani">Trapani</option>
                                                <option value="Trento">Trento</option>
                                                <option value="Treviso">Treviso</option>
                                                <option value="Trieste">Trieste</option>
                                                <option value="Udine">Udine</option>
                                                <option value="Varese">Varese</option>
                                                <option value="Venezia">Venezia</option>
                                                <option value="Vercelli">Vercelli</option>
                                                <option value="Verona">Verona</option>
                                                <option value="Verona">Verona</option>
                                                <option value="Vicenza">Vicenza</option>
                                                <option value="Viterbo">Viterbo</option>
                                            </select>
                                    </div>
                                </div>
                                 <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                         <label for="peso">Inserire peso in grammi: </label> <br>
                                            <input type="radio" id="peso" name="peso" value="250">
                                            <label for="peso">250</label>
                                            <input type="radio" id="peso2" name="peso" value="500">
                                            <label for="peso">500</label>
                                            <input type="radio" id="peso3" name="peso" value="750">
                                            <label for="peso">750</label>
                                            <input type="radio" id="peso4" name="peso" value="1000">
                                            <label for="peso">1000</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="tipologia">Inserire tipologia:</label>
                                            <input
                                                    id="tipologia"
                                                    name="tipologia"
                                                    type="text"
                                                    required=true
                                                    placeholder="Inserisci tipologia"
                                            />
                                    </div>
                                </div>
                                 <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                            <label for="prezzo">Inserire prezzo: </label>
                                                <input
                                                        id="prezzo"
                                                        name="prezzo"
                                                        type="number"
                                                        required=true
                                                        placeholder="Inserisci prezzo"
                                                />
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="quantita" required=true>Inserire quantit&#224:</label>
                                            <input
                                                    id="quantita"
                                                    name="quantita"
                                                    type="number" required=true
                                                    placeholder="Inserisci quantit&#224"
                                            />
                                    </div>
                                </div>
                                 <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <div class="form-outline">
                                        <label for="image">Carica immagine</label>
                                          <input id="image" accept="image/*" type="file" name="imagepath" style="display:none;">
                                          <button onclick="document.getElementById('image').click()" style="background-color: orange; opacity: 70%;
                                          border: none; border-radius: 10px 10px 10px 10px; color: black; padding: 7px 40px; text-decoration: none; margin: 4px 2px;
                                          cursor: pointer;">Carica qui</button>
                                          <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center;">
                   <br>
                <div class="form-outline mb-4">
                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                        {% if messages %}
                            <p style="color:red">{{ messages[0] }}</p>
                        {% endif %}
                    {% endwith %}
                </div>
                    <input type="submit" value="Conferma Inserimento"/> <input type="reset" value="Cancella">
               </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>