<html>
    <head>
        <link  rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
        {% extends "base.html"%}
        {% block title %}Login{% endblock %}
    </head>
    <body>
    {% block content %}
    <div>
        <form class="form_login" action="/login" method="post">
            <label for="form_login_email">Email</label>
            <input name="email" id="form_login_email" class="form_login_email" type="text" placeholder="Inserisci l'email" />
            <label for="form_login_password">Password</label>
            <input name="password" id="form_login_password" class="form_login_password" type="password" placeholder="Inserisci la password" />
            <input type="submit" value="Accedi"/> <input type="reset" value="Cancella">
        </form>
    </div>
    {% endblock %}
    </body>
</html>