<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    {% extends "base.html"%}
    {% block title %}Login{% endblock %}
</head>
<body>
{% block content %}
<div class="container">

    <form class="well form-horizontal" action="/login" method="POST" id="contact_form">
        <fieldset>

            <!-- Nome Form -->
            <legend><h2><b>Login</b></h2></legend>
            <br>

            <div class="form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="email" placeholder="Email" class="form-control" type="text" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="password" placeholder="Password" class="form-control" type="password" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                    <button type="button" class="annullabtn">Annulla<span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="submit" class="btn btn-warning">Accedi<span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
</body>
</html>