<!DOCTYPE html>
<html lang="en">
<head>
  {% extends "base.html"%}
        {% block title %}Modifica Password{% endblock %}
</head>

<body>
{% block content %}
<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Modifica Profilo</h1>
      <hr>
	<div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="https://www.pngwing.com/en/free-png-pynaf"
               class="avatar img-circle img-thumbnail" alt="residence">
        </div>
      </div>


      <div class="col-md-9 personal-info">

        <h3>Password</h3>

        <form class="form-horizontal" action="/modifica_password" method="POST">
          <div class="form-group">
            <label class="col-lg-3 control-label">Password:</label>
            <div class="col-lg-8">
              <input name="nuova_psw" placeholder="password" class="form-control"  type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Conferma Password:</label>
            <div class="col-lg-8">
              <input name="nuova_ripeti_psw" placeholder="ripeti password" class="form-control"  type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4"><br>
                <button type="submit" class="btn btn-warning" >Conferma Modifiche <span class="glyphicon glyphicon-ok-sign"></span></button>
                <button type="reset" class="btn btn-secondary btn-sm">Annulla <span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
{% endblock %}
</body>
</html>