<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% extends "base.html" %}
    <title>
        {%block title%}Modifica Stato Alveare{%endblock%}
    </title>
</head>

{% block content%}
<section class="background-radial-gradient overflow-hidden">
  <style>

  .selector-for-some-widget {
  box-sizing: content-box;
  }
  .background-radial-gradient {
    background-image: url("https://images.pexels.com/photos/2231469/pexels-photo-2231469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
  }
  .bg-glass {

    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(600%) blur(25px);
  }

  input[type=button], input[type=submit], input[type=reset], .annullabtn{
  background-color: orange;
  opacity: 70%;
  border: none;
  border-radius: 10px 10px 10px 10px;
  color: black;
  padding: 7px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

  </style>

        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-high mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-3 fw-bold ls-tight" style="color: orange">
                    Modifica lo stato <br/>
                    <span style="color: black">del tuo alveare!</span>
                </h1>
             </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">

<form action="/modifica_stato_alveare" enctype="multipart/form-data" method="post">

    <input type="hidden" name="alveare_id" value="{{alveare_id}}">
    <label for="covata_compatta">La covata è compatta?</label><br>
    <input type="radio" id="covata_compatta" name="covata_compatta" value="1">
    <label for="covata_compatta">si</label>
    <input type="radio" id="covata_compatta2" name="covata_compatta" value="0">
    <label for="covata_compatta">no</label>
    <br>
    <br>
    <label for="popolazione">Inserisci stato popolazione: </label><br>
    <input type="radio" id="popolazione" name="popolazione" value="scarso">
    <label for="popolazione">scarso</label>
    <input type="radio" id="popolazione2" name="popolazione" value="medio">
    <label for="popolazione">medio</label>
    <input type="radio" id="popolazione3" name="popolazione" value="ottimo">
    <label for="popolazione">ottimo</label>
    <br>
    <br>

    <label for="polline">Inserisci stato polline: </label> <br>
    <input type="radio" id="polline" name="polline" value="scarso">
    <label for="polline">scarso</label>
    <input type="radio" id="polline2" name="polline" value="medio">
    <label for="polline">medio</label>
    <input type="radio" id="polline3" name="polline" value="ottimo">
    <label for="polline">ottimo</label>
    <br>
    <br>


    <label for="stato_cellette">Inserisci stato cellette: </label> <br>
    <input type="radio" id="stato_cellette" name="stato_cellette" value="scarso">
    <label for="stato_cellette">scarso</label>
    <input type="radio" id="stato_cellette2" name="stato_cellette" value="medio">
    <label for="stato_cellette">medio</label>
    <input type="radio" id="stato_cellette3" name="stato_cellette" value="ottimo">
    <label for="stato_cellette">ottimo</label>
    <br>
    <br>

    <label for="stato_larve">Inserisci stato larve: </label> <br>
    <input type="radio" id="stato_larve" name="stato_larve" value="scarso">
    <label for="stato_larve">scarso</label>
    <input type="radio" id="stato_larve2" name="stato_larve" value="medio">
    <label for="stato_larve">medio</label>
    <input type="radio" id="stato_larve3" name="stato_larve" value="ottimo">
    <label for="stato_larve">ottimo</label>
    <br>
    <br>

    <div class="form-outline mb-4">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
                <p style="color:red">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}
        </div>
    <br>
    <input type="submit" value="Conferma Inserimento"/>
    <button class="annullabtn"><a href="{{url_for('views.mostra_alveari')}}" style="text-decoration: none; color:black">Annulla</a></button>

</form>
 </div>
 </div>
</div>
</div>
</div>
</section>
{% endblock %}

</html>

