<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html"%}
    <title>
        {% block title %}Modifica Informazioni Personali{% endblock %}
    </title>
</head>

<body>
{% block content %}
<div class="container bootstrap snippets bootdey">
    <h1 class="text-secondary">Modifica Profilo</h1>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail"
                     alt="avatar">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Informazioni Personali</h3>

            <form class="form-horizontal" action="/modifica_dati_utente" method="POST">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Nome:</label>
                    <div class="col-lg-8">
                        <input name="nuovo_nome" value='{{current_user.nome}}' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Cognome:</label>
                    <div class="col-lg-8">
                        <input name="nuovo_cognome" value='{{current_user.cognome}}' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input name="nuova_email" value='{{current_user.email}}' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Telefono:</label>
                    <div class="col-lg-8">
                        <input name="nuovo_numtelefono" value='{{current_user.telefono}}' class="form-control"
                               type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Citt&#224:</label>
                    <div class="col-lg-8">
                        <input name="nuova_citta" value='{{current_user.citta}}' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Cap:</label>
                    <div class="col-lg-8">
                        <input name="nuovo_cap" value='{{current_user.cap}}' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Indirizzo:</label>
                    <div class="col-lg-8">
                        <input name="nuovo_indirizzo" value='{{current_user.indirizzo}}' class="form-control"
                               type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Password:</label>
                    <div class="col-lg-8">
                        <input name="nuova_psw" placeholder="Password" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Conferma Password:</label>
                    <div class="col-lg-8">
                        <input name="nuova_ripeti_psw" placeholder="Conferma password" class="form-control"
                               type="password">
                    </div>
                </div>
                <div class="form-outline mb-4">
                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                        {% if messages %}
                            <p style="color:red">{{ messages[0] }}</p>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <button type="button" class="btn btn-secondary btn-md"><a style="text-decoration: none; color:white"
                                    href="{{url_for('views.area_personale')}}">Annulla <span
                                    class="glyphicon glyphicon-remove"></span></a></button>
                        <button type="submit" class="btn btn-warning">Conferma Modifiche <span
                                class="glyphicon glyphicon-ok-sign"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
{% endblock %}
</body>
</html>