<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{{url_for('static', filename='css/500page.css')}}">
    {% extends "base.html"%}
    <title>
        {% block title %}Pagina Errore {% endblock %}
    </title>

</head>

<body>
{% block content %}
<section class="pageerror">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-100 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">500</h1>


                    </div>

                    <div class="contant_box_500">
                        <h3 class="h2">
                            Sembra che ti sia perso!
                        </h3>

                        <p>La pagina che stavi cercando non é disponibile!</p>

                        <a href="{{url_for('views.home')}}" class="link_500">Torna alla Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>
