<!DOCTYPE html>
<html lang="it">

<head>
<link  rel="stylesheet" href="static/css/registrazione_cl.css">
<title>{% block title %}Registrazione Cliente{% endblock %}</title>
</head>

<body>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Registrazione Cliente</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form action="/registrazione_cl" method="post">
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="email" name="email" placeholder="Inserisci Email" required />
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="psw" placeholder="Inserisci Password" required />
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="psw-ripeti" placeholder="Reinserisci Password" required />
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="nome" placeholder="Inserisci nome" />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="cognome" placeholder="Inserisci cognome" required />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="citta" placeholder="Inserisci citt&#224" required />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="cap" placeholder="Inserisci codice postale" required />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="indirizzo" placeholder="Inserisci indirizzo" required />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="numtelefono" placeholder="Inserisci numero di telefono" required />
              </div>
            </div>
          </div>

            <div class="input_field checkbox_option">
            	<input type="checkbox" id="cb1">
    			<label for="cb1">Ho letto ed accettato i termini di servizio e privacy.</label>
            </div>

          <input class="button" type="submit" value="Registrati" />
        </form>
      </div>
    </div>
  </div>
</div>
</body>