<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/registrazione_cl.css')}}">
  <script src="{{url_for('static', filename='js/registrazione_cl.js')}}"> </script>
  {% extends "base.html"%}
</head>
<body>
{% block content %}
<div class="container">

    <form class="well form-horizontal" action="/registrazione_cl" method="POST"  id="contact_form">
    <fieldset>

<!-- Nome Form -->
    <legend><h2><b>Registrazione Cliente</b></h2></legend><br>



<div class="form-group">
  <label class="col-md-4 control-label">Nome</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="nome" placeholder="Nome" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" >Cognome</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="cognome" placeholder="Cognome" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Password</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-piggy-bank"></i></span>
  <input name="psw" placeholder="Password" class="form-control"  type="password" required>
    </div>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" >Conferma Password</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-piggy-bank"></i></span>
  <input name="psw-ripeti" placeholder="Conferma Password" class="form-control"  type="password" required>
    </div>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="Indirizzo E-Mail" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Indirizzo</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="indirizzo" placeholder="indirizzo" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Citt&#224</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="citta" placeholder="Citt&#224" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">CAP</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
  <input name="cap" placeholder="CAP" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Numero di Telefono</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="numtelefono" placeholder="+39" class="form-control" type="text" required>
    </div>
  </div>
</div>

<!-- Termini di Servizio -->
<p>Registrandoti, dichiari di aver letto ed accettato i nostri <a href="#" style="color:dodgerblue">Termini di servizio e privacy</a>.</p>

<div class="alert alert-success" role="alert" id="success_message">Successo!
  <i class="glyphicon glyphicon-thumbs-up"></i> Successo!
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
   <button type="button" class="annullabtn">Annulla<span class="glyphicon glyphicon-remove"></span></button>
   <button type="submit" class="btn btn-warning" >Registrati<span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div>

</body>
{% endblock %}

</html>