<!DOCTYPE html>
<html lang="it">
    <head>
        {% extends "base.html" %}
        {% block title %}Richiesta Assistenza{% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="container">
            <form class="well form-horizontal" action="/richiesta_assistenza" method="POST" id="contact_form">
                <fieldset>
                    <legend><h2><b>Richiesta Assistenza</b></h2></legend>
                    <br>
                    <input type="hidden" value='{{id_apicoltore}}' name="id_apicoltore">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nome">Nome</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input type="text" name="nome" id="nome" class="form-control" required placeholder="Inserisci il nome" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="descrizione">Descrizione</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <textarea name="descrizione" id="descrizione" class="form-control" required placeholder="Inserisci la descrizione"></textarea>
                            </div>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                    <p style="color:red">{{ messages[0] }}</p>
                    {% endif %}
                    {% endwith %}
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4"><br>
                            <button type="button" class="annullabtn"><a style="text-decoration: none; color:black " href="{{url_for('views.mostra_lista_assistenti')}}">Annulla<span class="glyphicon glyphicon-remove"></span></a>
                            </button>
                            <button type="submit" class="btn btn-warning">Richiedi<span class="glyphicon glyphicon-send"></span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        {% endblock %}
    </body>
</html>