<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="{{url_for('static', filename='css/ticket_assistenza.css')}}">
    {% extends "base.html"%}
    <title>
        {% block title %}
          Ticket Assistenza
        {% endblock %}
    </title>

</head>
{% block content %}<br><br><br>
 <h1 style="text-align: center"> Il Tuo Ticket </h1>
    <div class="container">

     <div class="mt-5">
       <div class="d-style btn btn-brc-tp  bgc-white  w-100 my-2 py-3 shadow-lg">



         <div class="row align-items-center">
           <div class="col-12 col-md-4">
             <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
               {{ ticket_assistenza.nome }}
             </h4>

             <div class="text-secondary-d1 text-120" style="font-size: 0.8rem">
               <span class="ml-n15 align-text-bottom">{{ticket_assistenza.descrizione}}</span>
             </div>
           </div>

            <div class="mb-0 col-12 col-md-4 text-dark-l1 text-90 text-center my-4 my-md-0">

               <i class="bi bi-bookmark text-success-m2 text-110 mr-2 mt-1"></i>
               <span>
                   {% if session['isApicoltore'] %}
                   <span class="ml-n15 align-text-bottom"> Contatti cliente: <br>{{cliente.telefono}} / {{cliente.email}} <br></span>
                   {% else %}
                   <span class="ml-n15 align-text-bottom"> Contatti apicoltore: <br>{{apicoltore.telefono}} / {{apicoltore.email}}<br></span>
                   {% endif %}

               </span>
           </div>
                <div class="mb-0 col-12 col-md-4 ">
                 <button class="bott"><a href="{{url_for('views.visualizza_richieste_assistenza')}}" style="text-decoration: none;color: white">Torna indietro</a></button>
                    </div>
             </div>
        </div>
     </div>
    </div>
<br><br><br><br><br>
{% endblock %}
</html>