<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/singolo_ticket.css')}}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    {% extends "base.html"%}
        {% block title %}
          Ticket Assistenza
        {% endblock %}

</head>
{% block content %}
<body>
    <div class="container">
        <div class="row">
        <div class="col align-self-center">
            <h1>{{ticket_assistenza.nome}}</h1>
            {{ticket_assistenza.descrizione}}
        </div>
        </div>
    </div>
    <br />
        <a href="{{url_for('gau.visualizza_richieste_assistenza')}}">
            <button type="button">Torna Indietro</button>
        </a>

    </div>

</body>

{% endblock %}
