<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/ticket_assistenza.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/500page.css')}}">
    {% extends "base.html"%}

    {% block title %}
    Lista Ticket Assistenza
    {% endblock %}

</head>

<body>

{% block content %}
<br><br>

{% if tickets_assistenza | length < 1 %}
<section class="pageerror">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-100 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center" style="font-weight: 600">Errore 500</h1>

                    </div>

                    <div class="contant_box_500">
                        <h3 class="h2">
                            OPS!
                            Non ci sono ticket assistenza.
                        </h3>
                        {%if session['isApicoltore']%}
                        {%if not current_user.assistenza%}
                        <p>Crea la tua area assistenza e fatti conoscere dai tuoi clienti</p>
                        <a href="{{url_for('views.crea_area_assistenza_page')}}" class="link_500">Crea la tua area
                            assistenza</a>
                        {%else%}
                        <p>Nessuno dei clienti ha richiesto assistenza</p>
                        <a href="{{url_for('views.home')}}" class="link_500">Torna alla home </a>
                        {%endif%}
                        {%else%}
                        <p>Hai bisogno di aiuto? Contatta i tuoi apicoltori preferiti!</p>

                        <a href="{{url_for('views.mostra_lista_assistenti')}}" class="link_500">Mostra lista
                            assistenti</a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<br><br>
    <h1 style="text-align:center; font-weight: bold">I TUOI <span style="color:#faa500">TICKET</span></h1>
<div class="container">

    {% for ticket_assistenza in tickets_assistenza %}

    <div class="mt-5">
        <div class="d-style btn btn-brc-tp  bgc-white  w-100 my-2 py-3 shadow-lg">

            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                        {{ ticket_assistenza.nome }}
                    </h4>

                    <div class="text-secondary-d1 text-120">
                        <span class="ml-n15 align-text-bottom">Stato: {{ticket_assistenza.stato}}</span>
                    </div>
                </div>

                <div class="mb-0 col-12 col-md-4 text-dark-l1 text-90 text-center my-4 my-md-0">

                    <i class="bi bi-bookmark text-success-m2 text-110 mr-2 mt-1"></i>
                    <span>
                 <span class="ml-n15 align-text-bottom">Ticket aperto il: <br>{{ticket_assistenza.data_inizio}}</span>

               </span>
                </div>

                <div class="mb-0 col-12 col-md-4 ">
                    <button class="bott"><a
                            href="{{url_for('views.visualizza_info_ticket', ticket_id=ticket_assistenza.id)}}"
                            style="text-decoration: none;color: white">Visualizza</a></button>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{%endif%}
<br><br><br><br><br>
{% endblock %}
</body>
</html>
