<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
        document.addEventListener("DOMContentLoaded", function() {

var registrazione = document.createElement('div');
registrazione.innerHTML = '<form action="action_page.php">' +
  '<div class="container">' +
  '<h1>Registrazione</h1>' +
  '<p>Compila i campi per completare la registrazione.</p>' +
  '<hr>' +
  '<label for="email"><b>Email</b></label>' +
  '<input type="text" placeholder="Email" name="email" required>' +
  '<label for="psw"><b>Password</b></label>' +
  '<input type="password" placeholder="Password" name="psw" required>' +
  '<label for="cpwd"><b>Ripeti Password</b></label>' +
  '<input type="password" placeholder="Ripeti Password" name="cpwd" required>' +
  '<label for="nome"><b>Nome</b></label>' +
  '<input type="text" placeholder="Nome" nome="nome" required>' +
  '<label for="cognome"><b>Cognome</b></label>' +
  '<input type="text" placeholder="Cognome" name="cognome" required>' +
  '<label for="citta"><b>Citt&#224</b></label>' +
  '<input type="text" placeholder="Citt&#224" name="citta" required>' +
  '<label for="indirizzo"><b>Indirizzo</b></label>' +
  '<input type="text" placeholder="Indirizzo" name="indirizzo" required>' +
  '<label for="cap"><b>Cap</b></label>' +
  '<input type="text" placeholder="Cap" name="cap" required>' +
  '<label for="numtelefono"><b>Numero di Telefono</b></label>' +
  '<input type="text" placeholder="Numero di telefono" name="numtelefono" required>' +
  '<label for="assistenza"><b>Assistenza</b></label>' +
  '<input type="text" placeholder="Assistenza" name="assistenza" required>' +
  '<label for="descrizione"><b>Descrizione</b></label>' +
  '<input type="text" placeholder="Descrizione" name="descrizione" required>' +
  '</label>' +
  '<p>Registrandoti, dichiari di aver letto ed accettato i nostri <a href="https://www.facebook.com/icompagnidimerende/" style="color:dodgerblue">Termini di servizio e privacy</a>.</p>' +
  '<div class="clearfix">' +
  '<button type="button" class="annullabtn">Annulla</button>' +
  '<button type="submit" class="registrabtn">Registrati</button>' +
  '</div>' +
  '</div>' +
  '</form>';
document.body.appendChild(registrazione);
});
        </script>
    </head>
    <body style="margin: 0;">

    </body>

</html>